.nav-bar {
    display: flex;
    border: 2px solid black;
    justify-content: space-around;
    background-color: rgb(238, 237, 237);
    align-items: center;
}

ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 30%
}

ul li a {
    color: black;
    text-decoration: none;

}

ul li:hover {
    background-image: linear-gradient(to top, rgb(224, 9, 9), rgb(54, 16, 16));
}

ul li {
    padding: 10px;
    background-image: linear-gradient(to top, rgb(201, 11, 11), rgb(252, 28, 28));
    font-size: 20px;
    border: 1px solid black;
    text-align: center;
    margin: 2px;
}